.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin: 20px 20px 0px 40px;
    margin-right: -10px;
}

.links__item {
   margin-right: 10px;
}

.links__item img {
    width: 50px;
    height: auto;
}

.links__item img:hover {
    transition: .2s;
    filter: grayscale(90%);
}

@media (max-width: 500px) {
    .links__item img {
        justify-content: space-around;
        width: 60px;
        height: auto;
    }
    .links {
        justify-content: center;
        margin: 20px 20px 0px 0px;
        margin-right: -10px;
    }
}